@import "./vendor/normalize.css";
@import "./vendor/fonts.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
